<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwealth.asset.mapper.AssetLocalMsgMapper">

    <select id="selectPendingMsgs" resultType="com.smartwealth.asset.entity.AssetLocalMsg">
        SELECT * FROM t_asset_local_msg
        WHERE status = 0
          AND next_retry &lt;= NOW()
          AND retry_count &lt; 5  LIMIT 100
    </select>
</mapper>